body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.inner {
    max-width: 720px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.left {
    float: left;
}

.clear {
    width: 100%;
    overflow: auto;
}

p {
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    margin: 1.0em 0;
    height: 2.0em;
    line-height: 2.0em;
    font-size: 1.2em;
    padding-left: 1.0em;
    box-sizing: border-box;
}

small {
    display: block;
    margin-top: 2.0em;
    font-style: italic;
}